/* color */
/* root */
:root{
  --background-color: #222222;
  --font-color: #333;
}/* import file */


/* main */


body {
  background: var(--background-color);
}


body h1 {
    margin: 0;
    padding: 0;
    color: #fff;
    text-align: center;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }


body #pa {
    width: 1000px;
    height: 1000px;
    color: #fff;
    margin: 0 auto;
    background: url('00bb21348de5be215450300e87df8ac4.png');
  }