doctype html
- var description = 'ドンと来い';
html(lang="ja")
  head
    title= title

    // ogp

    // stylesheet
    link(rel="stylesheet", href="../css/styles.css")

    // javascript
    script(src="../js/app.js")

  body
   h1 うんこ
   a(href="second.pug") 飛びたい