/* import file */
@import "./reset.css";
@import "./variables.css";


/* main */
body {
  background-color: var(--background-color);
  #pyon {
  	margin: 0;
    padding: 0;
    color: #fff;
    text-align: center;
  }
}